---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestLocationsToShow = 3;
---
{% set locationsCount = collections.locations | length %}
{% set latestLocationsCount = locationsCount | min(numberOfLatestLocationsToShow) %}
<h1>Latest {{ latestLocationsCount }} Location{% if latestLocationsCount != 1 %}s{% endif %}</h1>

{% set locationslist = collections.locations | head(-1 * numberOfLatestLocationsToShow) %}
{% set locationslistCounter = locationsCount %}
{% include "locationslist.njk" %}

{% set moreLocations = locationsCount - numberOfLatestLocationsToShow %}
{% if moreLocations > 0 %}
<p>{{ moreLocations }} more location{% if moreLocations != 1 %}s{% endif %} can be found in <a href="/locations/">the locations archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
