---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{{ content | safe }}

{% set locationsCount = collections.locations | length %}
{% if locationsCount > 0 %}
  {% set numberOfLatestLocationsToShow = 3 %}
  {% set latestLocationsCount = locationsCount | min(numberOfLatestLocationsToShow) %}
  <h2>Latest {{ latestLocationsCount }} Location{% if latestLocationsCount != 1 %}s{% endif %}</h2>
  
  {% set locationslist = collections.locations | head(-1 * numberOfLatestLocationsToShow) %}
  {% set locationslistCounter = locationsCount %}
  {% include "locationslist.njk" %}
  
  {% set moreLocations = locationsCount - numberOfLatestLocationsToShow %}
  {% if moreLocations > 0 %}
    <p>{{ moreLocations }} more location{% if moreLocations != 1 %}s{% endif %} can be found in <a href="/locations/">the locations archive</a>.</p>
  {% endif %}
{% endif %}
