---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{{ content | safe }}

{% set locationslist = collections.locations | reverse %}
{% set locationslistCounter = collections.locations | length %}
{% include "locationslist.njk" %}